:root {
  --gc-moon-yellow: rgba(249, 189, 21, 1);
  --gc-night-rider: rgba(51, 51, 51, 1);
  --gc-noble: rgba(188, 190, 192, 1);
  --gcs-sea-foam: rgba(226, 240, 222, 1);
  --gcs-cobalt: rgba(0, 87, 153, 1);
  --gcs-midnight: rgba(67, 33, 76, 1);
  --h1-48px-font-family: "Roboto Condensed", Helvetica;
  --h1-48px-font-weight: 400;
  --h1-48px-font-size: 48px;
  --h1-48px-letter-spacing: 0px;
  --h1-48px-line-height: 60px;
  --h1-48px-font-style: normal;
  --h2-24px-font-family: "Roboto", Helvetica;
  --h2-24px-font-weight: 400;
  --h2-24px-font-size: 24px;
  --h2-24px-letter-spacing: 0px;
  --h2-24px-line-height: 30px;
  --h2-24px-font-style: normal;
  --h3-18px-font-family: "Roboto", Helvetica;
  --h3-18px-font-weight: 400;
  --h3-18px-font-size: 18px;
  --h3-18px-letter-spacing: 0px;
  --h3-18px-line-height: 25px;
  --h3-18px-font-style: normal;
  --h4-16px-font-family: "Roboto", Helvetica;
  --h4-16px-font-weight: 400;
  --h4-16px-font-size: 16px;
  --h4-16px-letter-spacing: 0px;
  --h4-16px-line-height: 25px;
  --h4-16px-font-style: normal;
  --h5-14px-font-family: "Roboto", Helvetica;
  --h5-14px-font-weight: 400;
  --h5-14px-font-size: 14px;
  --h5-14px-letter-spacing: 0px;
  --h5-14px-line-height: 20px;
  --h5-14px-font-style: normal;
  --h6-13px-font-family: "Roboto", Helvetica;
  --h6-13px-font-weight: 400;
  --h6-13px-font-size: 13px;
  --h6-13px-letter-spacing: 0px;
  --h6-13px-line-height: 20px;
  --h6-13px-font-style: normal;
  --pull-quote-font-family: "Roboto", Helvetica;
  --pull-quote-font-weight: 400;
  --pull-quote-font-size: 30px;
  --pull-quote-letter-spacing: 0px;
  --pull-quote-line-height: 48px;
  --pull-quote-font-style: normal;
  --shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.8);
}